---
---

$pattern: "{{ site.baseurl }}/images/pattern.png";
$patternlight: "{{ site.baseurl }}/images/textured-background.jpeg";
$screenshot-buttons: "{{ site.baseurl }}/images/screenshot-buttons.svg";

$hero-image: "{{ site.baseurl }}/images/mosaicbackgroundsmall.jpg";
$brand-color: #799FCB;
$html-background-color: #aee1e6;
$secondary-brand-color: #b3ecec;
$navigation-color: rgba(#4869a7, 0.94);
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$mid-pointmax: "(max-width: 620px)";
$desktop: "(min-width: 768px)";

$section-rotation: 5deg;

@import "elements";
@import "layout";
@import "contact";
@import "blog";
@import "forms";
@import "navigation";
@import "footer";
@import "cloudcannon";
