---
title: NomadWebWorks
---

<section class="hero">
	<div>
		<div>
			<div class="transparent">
				<h2 class="editable">Bespoke  <strong>mosaic</strong></h2>
				<p> Stunning murals and decorative artworks, let's enchant your home or business. </p
			</div>
		</div>
		<h1><a class="button" href="{{ site.baseurl }}/contact/">Get in Touch</a></h1>
	</div>
</section>

<section>
	<div class="container halves">
		<div>
			<h3 class="editable">Take a look at my portfolio</h3>
			<p class="editable">My mosaic is custom made on each clients request. Although I specialize in larger mosaic for hotels and restaurants, I also make beautiful signs, logos and decorative home pieces. If you like what you see, don't hestitate to contact me!  </p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="alternate">
	<div class="container halves">
		<div class="profile">
				<img src="{{ site.baseurl }}/images/jo-profile.jpeg">
		</div>
		<div>
			<h3 class="editable">Who am I?</h3>
			<p class="editable"> My name is Jo De Freitas, and I've been a mosaic artist in Cape Town for 30 years. Examples of my work can be found in many well established venues, from Kalkbay to Campsbay, let's add your personal artpeice to the collection. My diverse artistic background includes drawing, textile and ceramics! Contact me to create your mural, logo or decorative mosaic! </p>
		</div>
	</div>
</section>
