.container,
.text-container {
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
}

.text-container {
	max-width: 1000px;
}

.container {
	max-width: 1000px;
}

.border {
	border: 5px solid #353943;
}

header {
	color: #fff;
	z-index: 1;
	background: $navigation-color;
	padding: 20px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	img {
		padding-top: 3px;
		height: 40px;
	}

	a {
		color: #fff;
		text-decoration: none;
		z-index: 1;
		position: relative;

		&:hover {
			text-decoration: none;
		}
	}

	.company-name {
		font-size: 1.7em;
		color: black;
	}
}

.content {
	background: #fff;
	padding: 1px 0 0 0;
	position: relative;
}

.profile {
	padding: 10px 50px 10px 20px;
	img {
		border-radius: 50%;
		border: 1px solid black;
	}
	@media #{$mid-pointmax} {
		padding: 0 0 60px 0;
	}
}

.transparent {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: rgba(124, 162, 184, 0.5);
	//border-top: 1px solid black;
	//border-bottom: 1px solid black;
}

.screenshot{
	height: auto;
	display: block;
	margin: 0 auto;
	box-shadow: 0 1px 0 #ccc,0 1px 1px #eee;
	border-radius: 2px;
	padding: 20px 0 0;
	background: url($screenshot-buttons) 4px 4px no-repeat #DDD;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}

section {
	padding: 50px 0;
	background: $brand-color;
	margin-top: -2px;
	border-top: black 2px solid;

	&.hero {
		color: #ffffff;
		background: url($hero-image) no-repeat center center;
		background-size: cover;
		opacity: 0.9;
		text-align: left;
		margin-top: -100px;
		padding-top: 320px;
		padding-bottom: 150px;
		border-bottom: black 2px solid;

		h2, p {
			max-width: 90%;
			color: rgb(1, 19, 50);
			margin: auto;
		}

		h2 {
			text-align: center;
			font-family: 'Roboto', sans-serif;
			font-size: 3.5em;
			font-weight: bold;
			color: white;
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		}

		p {
			text-align: center;
			font-size: 2em;
			font-weight: bold;
			font-family: cursive;
			color:  white;
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		}

		h1 {
			font-size: 25;
			padding-left: 15px;
			text-align: center;
		}

		a:not(.button) {
			color: #ffffff;
			font-style: italic;
		}

		img {
			border-radius: 15px;
		}

		.inner-content {
			margin-top: 50px;
			margin-bottom: 50px;
		}

		&.pages {
			text-align: center;
			.container {
				max-width: 500px;
			}
			h2 {
				margin: auto;
				padding-top: 30px;
			}
			p {
				margin: auto;
				padding-bottom: 30px;
			}
		}
	}

	&.alternate {
		background: $secondary-brand-color;
		p {
			color: black;
		}
	}
}

.button {
	padding: 13px 38px;
	border-radius: 3px;
	display: inline-block;
	color: navy;
	text-decoration: none;
	cursor: pointer;
	margin: 20px 0 0 0;
	border: 2px solid black;
	background: #fff;
	text-decoration: none !important;

	&:hover {
		background: rgba(#4869a7, 0.9);
		color: #fff;
	}

	&:active {
		opacity: 1;
		background: rgba(255, 255, 255, 0.1);
		color: #fff;
		transform: translateY(1px);
	}
}

.halves {
	display: flex;
	flex-flow: wrap;
	align-items: center;

	> div {
		flex: 1 0 100%;
	}

	@media #{$mid-point} {
		> div {
			flex: 1;
		}

		> div + div {
			padding-left: 20px;
			margin: 0;
		}
	}
}

.aligned-top {
	align-items: flex-start;
}

.image-grid {
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: wrap;
	align-items: center;
	text-align: center;
	margin: 0 -20px;

	li {
		padding: 0;
		box-sizing: border-box;
		width: 100%;
		position: relative;
		overflow: hidden;
		margin: 20px;
		border-radius: 5px;
		text-align: left;
		border: 1px solid $brand-color;
		line-height: 0;

		@media #{$tablet} {
			flex: 1 1 50%;
		}

		@media #{$desktop} {
			flex: 1 1 30%;
		}

		img {
			min-width: 100%;
			border: 2px solid black;
		}

		> a:hover {
			opacity: 0.9;
		}
	}

	.square-image {
		height: 320px;

		img {
			min-height: 100%;
			width: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	.details {
		line-height: 1.2;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		padding: 20px;
	}

	.name {
		font-size: 1.3rem;
		color: $brand-color;
	}

	.position {
		margin-top: 5px;
		color: #fff;
	}

	.filler {
		border: 0;
	}
}

.image-list,
.image-list li {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.patterned {
	background: rgb(175, 201, 216);

	&,
	p {
		color: #fefefe;
	}
}
